{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-svelte"],
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
